<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="background-color: #d4ccc0;">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="background: #d4ccc0; width: 100%; height: 100%; z-index: 0; position: absolute; top: 0; left: 0;">
  </div>

  <div class="ion-text-center ion-justify-content-center" style="display: flex;width: 100%; height: 100%;">
    <ion-list style="padding-top: 3rem;  margin: 0 auto; min-width: 50%;">
      <ion-item lines="none">
        <ion-icon slot="start" name="newspaper"></ion-icon>

        <ion-select 
          label="OCR Strategy"
          [(ngModel)]="ocrService.currentStrategy"
          (ionChange)="handleChange($event)">
          <ion-select-option *ngFor="let s of ocrStrategies" [value]="s">{{s}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Add Gemini API Key input -->
      <ion-item lines="none">
        <ion-icon slot="start" name="key"></ion-icon>
        <ion-input
          label="Gemini API Key"
          labelPlacement="floating"
          type="password"
          [(ngModel)]="geminiApiKey"
          (ionChange)="onApiKeyChange($event)"
          placeholder="Enter your Gemini API key">
        </ion-input>
        <ion-button fill="clear" slot="end" (click)="clearApiKey()">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
  
</ion-content>